<section class="container" [formGroup]="form">
  <h1 class="header letter-spacing-1">{{ edit ? "Update" : "Add" }} Party</h1>
  <mat-card>
    <mat-card-header>
      <mat-card-title> Basic Details </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="grid col-2 gap padding">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="partyName" />
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Branch</mat-label>
          <input matInput formControlName="branchName" />
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>GST No</mat-label>
          <input matInput formControlName="gstNo" />
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Department</mat-label>
          <mat-select formControlName="partyDepartments" multiple>
            <mat-option
              [value]="department?.partyDepartmentId"
              *ngFor="let department of departmentList"
            >
              {{ department?.partyDepartmentName }}
            </mat-option>
          </mat-select>
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title> Address </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="grid col-2 gap padding">
        <mat-form-field appearance="fill">
          <mat-label>Address Line 1</mat-label>
          <input matInput formControlName="address1" />
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Address Line 2</mat-label>
          <input matInput formControlName="address2" />
          <mat-hint>Optional</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Address Line 3</mat-label>
          <input matInput formControlName="address3" />
          <mat-hint>Optional</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>District</mat-label>
          <mat-select formControlName="districtId">
            <mat-option
              *ngFor="let district of districtList"
              [value]="district.districtId"
            >
              {{ district.districtName }}
            </mat-option>
          </mat-select>
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>City</mat-label>
          <mat-select formControlName="cityId">
            <mat-option *ngFor="let city of cityList" [value]="city.cityId">
              {{ city.cityName }}
            </mat-option>
          </mat-select>
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>State</mat-label>
          <mat-select formControlName="stateId">
            <mat-option *ngFor="let state of stateList" [value]="state.stateId">
              {{ state.stateName }}
            </mat-option>
          </mat-select>
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Pincode</mat-label>
          <input matInput formControlName="pinCode" mask="000000" />
          <mat-error *ngIf="form.get('pinCode')?.hasError('required')"
            >This field is required.</mat-error
          >
          <mat-error *ngIf="form.get('pinCode')?.hasError('mask')"
            >Invalid pincode</mat-error
          >
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title> Contact </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="grid col-2 gap padding">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="eMailId" />
          <mat-error *ngIf="form.get('eMailId')?.hasError('required')"
            >This field is required.</mat-error
          >
          <mat-error *ngIf="form.get('eMailId')?.hasError('pattern')"
            >Invalid email</mat-error
          >
        </mat-form-field>
        <mat-form-field
          appearance="fill"
          formArrayName="phones"
          *ngFor="let phone of getPhonesFormControls(); let i = index"
        >
          <mat-label
            >Mobile No{{
              getPhonesFormControls().length === 1 ? "" : " " + (i + 1)
            }}</mat-label
          >
          <div [formGroupName]="i">
            <input
              id="mobile-{{ i }}"
              matInput
              formControlName="mobile"
              mask="0000000000"
              [required]="i === 0 ? true : false"
            />
          </div>
          <mat-icon
            *ngIf="i !== 0"
            matSuffix
            (click)="removePhone(i)"
            matTooltip="Delete phone"
            >delete</mat-icon
          >
          <mat-icon
            *ngIf="
              getPhonesFormControls()[0]?.get('mobile')?.valid &&
              i === 0 &&
              !phoneLimit
            "
            matSuffix
            matTooltip="Add another mobile No"
            (click)="addPhone()"
            >add_circle_outline</mat-icon
          >
          <mat-hint *ngIf="i !== 0">Optional</mat-hint>
          <mat-error
            *ngIf="
              i === 0 &&
              getPhonesFormControls()[i]?.get('mobile')?.hasError('required')
            "
            >This field is required.</mat-error
          >
          <mat-error
            *ngIf="getPhonesFormControls()[i]?.get('mobile')?.hasError('mask')"
            >Invalid mobile number</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Landline No</mat-label>
          <input
            matInput
            formControlName="landline"
            mask="00000-000000"
            placeholder="00000-000000"
          />
          <mat-hint>Optional</mat-hint>
          <mat-error *ngIf="form.get('landline')?.hasError('mask')"
            >Invalid landline number</mat-error
          >
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
  <div class="footer">
    <button mat-raised-button routerLink="/party">
      <mat-icon>arrow_back</mat-icon>Go to Party List
    </button>
    <div>
      <button
        *ngIf="!edit"
        mat-raised-button
        (click)="resetData()"
        class="mr-16"
      >
        <mat-icon>refresh</mat-icon>Reset
      </button>
      <button mat-raised-button color="primary" (click)="submitParty()">
        <mat-icon>save_alt</mat-icon>{{ edit ? "Update" : "Submit" }}
      </button>
    </div>
  </div>
</section>
