<section class="container">
    <mat-card class="card">
       <mat-card-header>
            <mat-card-title>Reset your password</mat-card-title>
       </mat-card-header>
        <mat-card-content>
            <form class="form" [formGroup]="form">
                <mat-form-field>
                    <mat-label>Enter New password</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-hint>Password should have length - 8</mat-hint>
                    <mat-error *ngIf="password?.hasError('required')">This is a required field.</mat-error>
                    <mat-error *ngIf="confirmPassword?.hasError('minlength')">Please enter valid password.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Confirm new password</mat-label>
                    <input matInput type="text" formControlName="confirmPassword" required>
                    <mat-hint>Should be same as new password</mat-hint>
                    <mat-error *ngIf="confirmPassword?.hasError('required')">This is a required field.</mat-error>
                </mat-form-field>
                
                <mat-error class="password-error" *ngIf="!confirmPassword?.hasError('required') && form.hasError('passwordNotMatch')">
                    <mat-icon aria-label="error icon">error</mat-icon>
                    <span>Confirm new password should be same as new password!</span>
                </mat-error>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="onReset()">Reset</button>
        </mat-card-actions>
    </mat-card>
    
</section>