.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 50%;
    padding: 32px;
}

.form {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

mat-card-actions {
    display: flex;
    justify-content: center;
}
