.container {
    margin: 32px;
}

.header {
    font-weight: 500 !important;
}

.party-card {
    margin-bottom: 32px;
}

.form-container {
    padding: 32px;
    display: flex;
    column-gap: 48px;
    row-gap: 28px;
    flex-wrap: wrap;
    align-items: center;
}


.header {
    font-weight: 500;
    margin: 40px 0;
}

.table {
    width: 100%;
  }
  
.button-container {
    padding-bottom: 16px;
}
  
.button + .button {
    margin-left: 8px;
}


.summary-card {
    margin-top: 32px;
    width: 50%;

    .summary-content {
        display: flex;
        justify-content: space-between;
    }
}

.submit-order-btn {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mat-mdc-table-sticky {
    border-top: 1px solid #e0e0e0;
}
  
