<section class="container">
  <div class="header-container">
    <h1 class="header">Receive Fibre Purchase Order</h1>
    <button mat-raised-button color="primary" (click)="choosePending()">
      Choose from Pending PO
    </button>
  </div>
  <mat-card class="party-card">
    <mat-card-header>
      <mat-card-title>Receive Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="form-container padding" [formGroup]="form">
        <div class="min-w-25 max-w-50 pl-16">
          <label for="poNo" class="font-weight-bold">PONo(s)</label>
          <div id="poNo" class="font-size-16 text-gray pt-4">
            {{ form.get("poNo")?.value ? form.get("poNo")?.value : "_" }}
          </div>
        </div>

        <div class="min-w-25 max-w-50">
          <label for="poNo" class="font-weight-bold">Party</label>
          <div id="poNo" class="font-size-16 text-gray pt-4">
            {{ form.get("partyId")?.value ? getPartyName() : "_" }}
          </div>
        </div>

        <div class="form-container w-100">
          <mat-form-field appearance="fill" class="w-25">
            <mat-label>Received Date</mat-label>
            <input
              matInput
              [matDatepicker]="receivedDatePicker"
              formControlName="recdDate"
              (dateChange)="
                appSharedService.formatDate($event, form.controls['recdDate'])
              "
            />
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="receivedDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #receivedDatePicker></mat-datepicker>
            <mat-error>This field is required.</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-25">
            <mat-label>Received DCNo</mat-label>
            <input matInput formControlName="recdDCNo" />
            <mat-error>This field is required.</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-25">
            <mat-label>DC Date</mat-label>
            <input
              matInput
              [matDatepicker]="dcDatePicker"
              formControlName="dcDate"
              (dateChange)="
                appSharedService.formatDate($event, form.controls['dcDate'])
              "
            />
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="dcDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #dcDatePicker></mat-datepicker>
            <mat-error>This field is required.</mat-error>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <div class="overflow-auto mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="table">
      <ng-container matColumnDef="poNo">
        <th mat-header-cell *matHeaderCellDef>PONo</th>
        <td mat-cell *matCellDef="let element">{{ element.poNo }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="fibreType">
        <th mat-header-cell *matHeaderCellDef>Fibre</th>
        <td mat-cell *matCellDef="let element">{{ element.fibreType }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="shade">
        <th mat-header-cell *matHeaderCellDef>Shade</th>
        <td mat-cell *matCellDef="let element">{{ element.shadeName }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="orderQty">
        <th mat-header-cell *matHeaderCellDef class="text-right">Order Qty</th>
        <td mat-cell *matCellDef="let element" class="text-right">
          {{ element.orderQty | number : "1.0-3" }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="pendingQty">
        <th mat-header-cell *matHeaderCellDef class="text-right">
          Pending Qty
        </th>
        <td mat-cell *matCellDef="let element" class="text-right">
          {{ element.pendingQty | number : "1.0-3" }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="receivedQty">
        <th mat-header-cell *matHeaderCellDef class="text-right">
          Received Qty
        </th>
        <td mat-cell *matCellDef="let element" class="text-right">
          {{ element.receivedQty | number : "1.0-3" }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="receivedBales">
        <th mat-header-cell *matHeaderCellDef class="text-right">
          Received Bales
        </th>
        <td mat-cell *matCellDef="let element" class="text-right">
          {{ element.receivedBales }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="lot">
        <th mat-header-cell *matHeaderCellDef class="text-right">Lot</th>
        <td mat-cell *matCellDef="let element" class="text-right">
          {{ element.lot }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="hsnCode">
        <th mat-header-cell *matHeaderCellDef class="text-right">HSN Code</th>
        <td mat-cell *matCellDef="let element" class="text-right">
          {{ element.hsnCode }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="rate">
        <th mat-header-cell *matHeaderCellDef class="text-right">Rate</th>
        <td mat-cell *matCellDef="let element" class="text-right">
          {{ element.rate | currency : "INR" }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef class="text-right">Amount</th>
        <td mat-cell *matCellDef="let element" class="text-right">
          {{ element.amount || 0 | currency : "INR" }}
        </td>
        <td mat-footer-cell *matFooterCellDef class="text-right">
          {{ getAmount() | currency : "INR" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="gstpercent">
        <th mat-header-cell *matHeaderCellDef class="text-right">GST%</th>
        <td mat-cell *matCellDef="let element" class="text-right">
          {{ element.gstpercent | number : "1.2-2" }}%
        </td>
        <td mat-footer-cell *matFooterCellDef class="text-right">
          {{ getTaxAmount() | currency : "INR" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="totalAmount">
        <th mat-header-cell *matHeaderCellDef class="text-right">
          Total Amount
        </th>
        <td mat-cell *matCellDef="let element" class="text-right">
          {{ element.totalAmount || 0 | currency : "INR" }}
        </td>
        <td mat-footer-cell *matFooterCellDef class="text-right">
          {{ getTotalAmount() | currency : "INR" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="button">
        <th mat-header-cell *matHeaderCellDef class="text-center">Actions</th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Actions menu"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button
              mat-menu-item
              aria-label="button with a edit icon"
              (click)="updateData(element)"
            >
              <mat-icon>edit</mat-icon> Edit
            </button>
            <button
              mat-menu-item
              (click)="removeData(element)"
              aria-label="button with a delete icon"
            >
              <mat-icon>delete</mat-icon> Delete
            </button>
          </mat-menu>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell no-rows" [attr.colspan]="displayedColumns.length">
          No rows to display
        </td>
      </tr>
      <tr
        [hidden]="!dataSource.length"
        mat-footer-row
        *matFooterRowDef="displayedColumns; sticky: true"
      ></tr>
    </table>
  </div>

  <div class="footer">
    <button mat-raised-button (click)="goToSearch()">
      <mat-icon>arrow_back</mat-icon>Go to Search
    </button>
    <div>
      <button mat-raised-button class="mr-16" (click)="resetData()">
        <mat-icon>refresh</mat-icon>Reset
      </button>
      <button mat-raised-button color="primary" (click)="submitOrder()">
        <mat-icon>save_alt</mat-icon>Submit
      </button>
    </div>
  </div>
</section>
