<section class="container">
  <h1 class="header letter-spacing-1">Salary Calculation</h1>
  <mat-card>
    <mat-card-header>
      <mat-card-title> Salary Details </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="padding">
        <div class="mb-24">
          <mat-form-field appearance="fill" class="w-35 mr-24">
            <mat-label>Employee</mat-label>
            <mat-select [formControl]="employeeId">
              <mat-option
                *ngFor="let employee of employeelist"
                [value]="employee.employeeId"
              >
                {{ employee.firstName + " " + employee.lastName | titlecase }}
              </mat-option>
            </mat-select>
            <mat-error>This field is required.</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="w-25 mr-24">
            <mat-label>Payment Month</mat-label>
            <input matInput [matDatepicker]="dp" [formControl]="paymentMonth" />
            <mat-hint>MM/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="dp"
            ></mat-datepicker-toggle>
            <mat-datepicker
              #dp
              startView="year"
              (monthSelected)="setMonthAndYear($event, dp)"
              panelClass="month-picker"
            >
            </mat-datepicker>
            <mat-error>Please enter valid month & year.</mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="fetchAttendance()">
            <mat-icon>get_app</mat-icon>Fetch Attendance
          </button>
        </div>
        <div class="mb-24 confirmed-salary" *ngIf="salaryDetails">
          <span>
            <div class="label">Salary Category</div>
            {{ salaryDetails.salaryCategoryName }}
          </span>
          <span>
            <div class="label">Salary Before Deduction</div>
            {{ salaryDetails.salaryBeforeDeduction | currency : "INR" }}
          </span>
          <span>
            <div class="label">Advance Deduction</div>
            {{ salaryDetails.advanceDeduction | currency : "INR" }}
          </span>
          <span>
            <div class="label">Pending Advance</div>
            {{
              (salaryDetails.advanceToDeduct < 0
                ? 0
                : salaryDetails.advanceToDeduct
              ) | currency : "INR"
            }}
          </span>
          <span>
            <div class="label">Other Deduction</div>
            {{ salaryDetails.deductionAmount | currency : "INR" }}
          </span>
          <span>
            <div class="label">Confirmed Salary</div>
            {{ salaryDetails.salary | currency : "INR" }}
          </span>
        </div>
        <mat-divider></mat-divider>
        <div class="table-container">
          <div *ngIf="loader" class="loader">
            <mat-spinner></mat-spinner>
          </div>
          <div class="overflow-auto mt-8">
            <div class="mt-4 mb-8">
              Total records: {{ attendanceData.data.length }}
            </div>
            <table mat-table [dataSource]="attendanceData" class="table">
              <ng-container matColumnDef="attendanceDate">
                <th mat-header-cell *matHeaderCellDef>Date</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.attendanceDate }}
                </td>
              </ng-container>

              <ng-container matColumnDef="firstCheckInTime">
                <th mat-header-cell *matHeaderCellDef>
                  <span *ngIf="isDaily">FirstCheckInTime</span>
                  <span *ngIf="!isDaily">Morning</span>
                </th>
                <td mat-cell *matCellDef="let element">
                  <span *ngIf="isDaily">{{ element.firstCheckInTime }}</span>
                  <span *ngIf="!isDaily">{{
                    element.isMorningPresent ? "Present" : "Absent"
                  }}</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="lastCheckOutTime">
                <th mat-header-cell *matHeaderCellDef>
                  <span *ngIf="isDaily">LastCheckOutTime</span>
                  <span *ngIf="!isDaily">Afternoon</span>
                </th>
                <td mat-cell *matCellDef="let element">
                  <span *ngIf="isDaily">{{ element.lastCheckOutTime }}</span>
                  <span *ngIf="!isDaily">{{
                    element.isAfterNoonPresent ? "Present" : "Absent"
                  }}</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="workedHours" *ngIf="isDaily">
                <th mat-header-cell *matHeaderCellDef>Worked Hours</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.workedHours }}
                </td>
              </ng-container>

              <ng-container matColumnDef="confirmedAmount">
                <th mat-header-cell *matHeaderCellDef>Confirmed Amount</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.confirmedAmount | currency : "INR" }}
                </td>
              </ng-container>

              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>Amount</th>
                <td mat-cell *matCellDef="let element">
                  <mat-form-field appearance="outline" class="amount-field">
                    <span matPrefix>&nbsp;&#x20B9;&nbsp;</span>
                    <input
                      type="number"
                      min="0.00"
                      step=".01"
                      matInput
                      [(ngModel)]="element.amount"
                      decimal="2"
                      required=""
                      (input)="calculateTotalAmount()"
                    />
                    <mat-error>This field is required.</mat-error>
                  </mat-form-field>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr
                mat-row
                class="row"
                *matRowDef="let row; columns: displayedColumns"
              ></tr>
              <tr class="mat-row" *matNoDataRow>
                <td
                  class="mat-cell no-rows"
                  [attr.colspan]="displayedColumns.length"
                >
                  No records to display
                </td>
              </tr>
            </table>
            <mat-paginator
              *ngIf="
                attendanceData?.data?.length && attendanceData.data.length > 10
              "
              [pageSizeOptions]="[10, 25, 100]"
              aria-label="Select page of details"
            ></mat-paginator>
          </div>
        </div>
        <div>
          <div class="deduction-control">
            <mat-form-field appearance="fill" class="w-25 mr-24">
              <span matPrefix>&nbsp;&#x20B9;&nbsp;</span>
              <mat-label>Advance Deduction</mat-label>
              <input
                type="number"
                min="0.00"
                step=".01"
                matInput
                [formControl]="advanceDeduction"
                decimal="2"
              />
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-25 mr-24">
              <span matPrefix>&nbsp;&#x20B9;&nbsp;</span>
              <mat-label>Other Deduction</mat-label>
              <input
                type="number"
                min="0.00"
                step=".01"
                matInput
                [formControl]="deductionAmount"
                decimal="2"
              />
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-35">
              <mat-label>Deduction Remarks</mat-label>
              <textarea matInput [formControl]="deductionRemarks"></textarea>
            </mat-form-field>
          </div>
          <mat-form-field appearance="fill" class="w-25 mr-24">
            <span matPrefix>&nbsp;&#x20B9;&nbsp;</span>
            <mat-label>Salary Before Deduction</mat-label>
            <input
              type="number"
              min="0.00"
              step=".01"
              matInput
              [formControl]="salaryeBeforeDeduction"
              decimal="2"
            />
            <mat-error>This field is required.</mat-error>
          </mat-form-field>
          <div class="w-25 salary-after-deduction">
            <mat-label>Salary After deduction</mat-label>
            <div>{{ getDeductedSalary() | currency : "INR" }}</div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="footer">
    <button mat-raised-button (click)="resetData()" class="mr-16">
      <mat-icon>refresh</mat-icon>Reset
    </button>
    <button mat-raised-button color="primary" (click)="submit()">
      <mat-icon>save_alt</mat-icon>Submit
    </button>
  </div>
</section>
