.container {
  margin: 32px;
}

h1 {
  font-weight: 500;
  margin: 40px 0;
}

.add-btn {
  display: flex;
  margin-bottom: 16px;
}

.card {
  padding: 8px 16px;
}

.table-container {
  position: relative;
}

.mat-mdc-header-row {
  background: rgb(225, 225, 225);
}

.mat-mdc-paginator {
  border-top: 1px solid #e0e0e0;
  padding: 8px 0;
}

.loader {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-rows {
  padding: 16px 0;
  text-align: center;
}
