<mat-toolbar
  class="tool-bar mat-elevation-z4"
  color="primary"
  *ngIf="!appSharedService.logout"
>
  <button mat-icon-button (click)="toggleSidenav()" matTooltip="Menu">
    <mat-icon *ngIf="navigationService.isSidenavOpened">close</mat-icon>
    <mat-icon *ngIf="!navigationService.isSidenavOpened">menu</mat-icon>
  </button>
  <span class="font-weight-normal">Menu</span>
  <div class="nav-btn px-32">
    <ng-container *ngFor="let toolbar of toolbarList">
      <button
        [id]="toolbar.value"
        mat-button
        (click)="selectSection(toolbar.value)"
        [routerLink]="toolbar.route"
      >
        {{ toolbar.label }}
      </button>
    </ng-container>
  </div>
  <span class="toolbar-item-spacer"></span>
  <span class="pr-4 font-weight-normal">{{
    appSharedService.username | titlecase
  }}</span>
  <button
    mat-icon-button
    matTooltip="My Account"
    [matMenuTriggerFor]="userAccountMenu"
  >
    <mat-icon class="account-icon">account_circle</mat-icon>
  </button>
  <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
    <!-- <button
      mat-menu-item
      routerLink="/change-password"
      (click)="navigationService.removeFocus()"
    >
      <mat-icon>person</mat-icon><span>Change password</span>
    </button> -->
    <!-- <mat-divider></mat-divider> -->
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>exit_to_app</mat-icon>Logout
    </button>
  </mat-menu>
</mat-toolbar>
