.container {
  padding: 0 32px 16px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
}

h1 {
  padding-right: 0;
}

.details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 32px;
  margin-bottom: 24px;
}

.table-header {
  margin-top: 16px;
}

.table {
  border: 1px solid #e0e0e0;
  margin-top: 8px;
  margin-bottom: 20px;
}

.mat-mdc-header-row {
  background: rgb(225, 225, 225);
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.max-height-90 {
  max-height: 90vh !important;
}
