<section class="container error" *ngIf="notify.type === 'error'">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="error"></mat-icon>
    <span class="error">{{ notify.message }}</span>
</section>

<section class="container warn" *ngIf="notify.type === 'warn'">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="warning"></mat-icon>
    <span>{{ notify.message }}</span>
</section>

<section class="container success" *ngIf="notify.type === 'success'">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="notifications"></mat-icon>
    <span>{{ notify.message }}</span>
</section>

