<h1 mat-dialog-title>Add Yarn Counts</h1>
<div mat-dialog-content class="form-container">
  <form [formGroup]="form" class="form">
    <mat-form-field appearance="fill" class="w-50">
      <mat-label>Yarn Counts</mat-label>
      <mat-select formControlName="counts">
        <ng-container *ngFor="let count of countsList">
          <mat-option
            [value]="count.counts"
            [disabled]="isAlreadyAdded(count.counts)"
            >{{ count.counts }}</mat-option
          >
        </ng-container>
      </mat-select>
      <mat-error>This field is required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>KGs</mat-label>
      <input matInput formControlName="programQuantity" decimal="3" />
      <mat-error>This field is required.</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="footer">
  <button mat-raised-button (click)="submit()" color="primary">Submit</button>
  <button mat-button (click)="close()">Cancel</button>
</div>
