<h1 mat-dialog-title>Select Yarn Stock</h1>
<div mat-dialog-content class="form-container">
  <div class="table-container">
    <div *ngIf="loader" class="loader">
      <mat-spinner></mat-spinner>
    </div>
    <table mat-table [dataSource]="dataSource" class="table">
      <ng-container matColumnDef="programNo">
        <th mat-header-cell *matHeaderCellDef>Program No</th>
        <td mat-cell *matCellDef="let element">{{ element.programNo }}</td>
      </ng-container>

      <ng-container matColumnDef="programDate">
        <th mat-header-cell *matHeaderCellDef>Program Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.programDate }}
        </td>
      </ng-container>

      <ng-container matColumnDef="shade">
        <th mat-header-cell *matHeaderCellDef>Shade</th>
        <td mat-cell *matCellDef="let element">{{ element.shadeName }}</td>
      </ng-container>

      <ng-container matColumnDef="counts">
        <th mat-header-cell *matHeaderCellDef>Counts</th>
        <td mat-cell *matCellDef="let element">{{ element.counts }}</td>
      </ng-container>

      <ng-container matColumnDef="blend">
        <th mat-header-cell *matHeaderCellDef>Blend</th>
        <td mat-cell *matCellDef="let element">{{ element.blendName }}</td>
      </ng-container>

      <ng-container matColumnDef="lot">
        <th mat-header-cell *matHeaderCellDef>Lot</th>
        <td mat-cell *matCellDef="let element">{{ element.lot }}</td>
      </ng-container>

      <ng-container matColumnDef="productionQuantity">
        <th mat-header-cell *matHeaderCellDef>Production Qty</th>
        <td mat-cell *matCellDef="let element">
          {{ element.productionQuantity }}
        </td>
      </ng-container>

      <ng-container matColumnDef="stockQuantity">
        <th mat-header-cell *matHeaderCellDef>Stock Qty</th>
        <td mat-cell *matCellDef="let element">{{ element.stockQuantity }}</td>
      </ng-container>

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <mat-checkbox
            matTooltip="Select all"
            [disabled]="dataSource.length ? null : true"
            (change)="$event ? toggleAllRows() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" class="text-center">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        class="row"
        *matRowDef="let row; columns: displayedColumns"
        (click)="selection.toggle(row)"
      ></tr>
      <tr *matNoDataRow>
        <td class="no-rows" [attr.colspan]="displayedColumns.length">
          No rows to display
        </td>
      </tr>
    </table>
  </div>
</div>
<div mat-dialog-actions class="footer">
  <button mat-raised-button (click)="submit()" color="primary">Select</button>
  <button mat-button (click)="close()">Cancel</button>
</div>
