<section class="container">
  <h1 class="header letter-spacing-1">
    <span *ngIf="!updateOrderDetails">Create Yarn Sales Order</span>
    <span *ngIf="updateOrderDetails">Update Yarn Sales Order</span>
  </h1>
  <mat-card class="party-card">
    <mat-card-header>
      <mat-card-title>Sales Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="form" [formGroup]="form">
        <div class="form-container">
          <mat-form-field appearance="fill" class="w-20">
            <mat-label>Order No</mat-label>
            <input matInput formControlName="orderNo" />
            <mat-error>This field is required.</mat-error>
            <mat-hint *ngIf="updateOrderDetails">Disabled</mat-hint>
          </mat-form-field>
          <div class="w-40">
            <app-party-combo-box
              type="sales"
              [disabled]="!!updateOrderDetails"
              [patch]="updateOrderDetails ? updateOrderDetails.partyId : ''"
              [partyFormControl]="form.get('partyId')"
              [touched]="form.get('partyId')?.touched || false"
            >
            </app-party-combo-box>
          </div>
          <mat-form-field appearance="fill" class="w-40">
            <mat-label>Broker Name</mat-label>
            <input matInput formControlName="brokerName" />
            <mat-error>This field is required.</mat-error>
          </mat-form-field>
        </div>
        <div class="form-container">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Order Date</mat-label>
            <input
              matInput
              [matDatepicker]="orderDate"
              formControlName="orderDate"
              (dateChange)="
                appSharedService.formatDate($event, form.controls['orderDate'])
              "
            />
            <mat-hint *ngIf="!updateOrderDetails">DD/MM/YYYY</mat-hint>
            <mat-hint *ngIf="updateOrderDetails">Disabled</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="orderDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #orderDate></mat-datepicker>
            <mat-error>Please enter valid date.</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Order Creation Date</mat-label>
            <input
              matInput
              [matDatepicker]="receivedDate"
              formControlName="receivedDate"
              (dateChange)="
                appSharedService.formatDate(
                  $event,
                  form.controls['receivedDate']
                )
              "
            />
            <mat-hint *ngIf="!updateOrderDetails">DD/MM/YYYY</mat-hint>
            <mat-hint *ngIf="updateOrderDetails">Disabled</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="receivedDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #receivedDate></mat-datepicker>
            <mat-error>Please enter valid date.</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Due Days</mat-label>
            <input
              type="number"
              matInput
              formControlName="dueDays"
              (input)="appSharedService.restrictDecimalZero($event)"
            />
            <mat-error>This field is required.</mat-error>
          </mat-form-field>
        </div>
        <div class="form-container">
          <mat-form-field appearance="fill" class="w-40">
            <mat-label>Delivery Party</mat-label>
            <mat-select formControlName="deliveryPartyId">
              <ng-container *ngFor="let party of partyService.parties">
                <mat-option [value]="party.partyId">{{
                  party.partyName
                }}</mat-option>
              </ng-container>
            </mat-select>
            <mat-error>This field is required.</mat-error>
            <mat-hint *ngIf="updateOrderDetails">Disabled</mat-hint>
          </mat-form-field>
          <mat-form-field class="w-60">
            <mat-label>Remarks</mat-label>
            <textarea matInput formControlName="remarks"></textarea>
            <mat-hint>Optional</mat-hint>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <div class="button-container">
    <button mat-raised-button (click)="addData()" class="button">
      <mat-icon>add_circle_outline</mat-icon>Add item
    </button>
  </div>

  <div class="mat-elevation-z8 table overflow-auto">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="counts">
        <th mat-header-cell *matHeaderCellDef>Counts</th>
        <td mat-cell *matCellDef="let element">{{ element.counts }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="blend">
        <th mat-header-cell *matHeaderCellDef>Blend</th>
        <td mat-cell *matCellDef="let element">{{ element.blendName }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="shade">
        <th mat-header-cell *matHeaderCellDef>Shade</th>
        <td mat-cell *matCellDef="let element">{{ element.shadeName }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef class="text-right">
          Quantity(Kg)
        </th>
        <td mat-cell *matCellDef="let element" class="text-right">
          {{ element.orderQuantity | number : "1.0-3" }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="rate">
        <th mat-header-cell *matHeaderCellDef class="text-right">Rate</th>
        <td mat-cell *matCellDef="let element" class="text-right">
          {{ element.rate | currency : "INR" }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef class="text-right">Amount</th>
        <td mat-cell *matCellDef="let element" class="text-right">
          {{ element.amount | currency : "INR" }}
        </td>
        <td mat-footer-cell *matFooterCellDef class="text-right">
          {{ getAmount() | currency : "INR" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="gstPercent">
        <th mat-header-cell *matHeaderCellDef class="text-right">GST%</th>
        <td mat-cell *matCellDef="let element" class="text-right">
          {{ element.gstPercent | number : "1.2-2" }}%
        </td>
        <td mat-footer-cell *matFooterCellDef class="text-right">
          {{ getTaxAmount() | currency : "INR" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="totalAmount">
        <th mat-header-cell *matHeaderCellDef class="text-right">
          Total Amount
        </th>
        <td mat-cell *matCellDef="let element" class="text-right">
          {{ element.totalAmount | currency : "INR" }}
        </td>
        <td mat-footer-cell *matFooterCellDef class="text-right">
          {{ getTotalAmount() | currency : "INR" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="button">
        <th mat-header-cell *matHeaderCellDef class="text-center">Actions</th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Actions menu"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button
              mat-menu-item
              aria-label="button with a edit icon"
              (click)="updateData(element)"
            >
              <mat-icon>edit</mat-icon> Edit
            </button>
            <button
              mat-menu-item
              (click)="removeData(element)"
              aria-label="button with a delete icon"
            >
              <mat-icon>delete</mat-icon> Delete
            </button>
          </mat-menu>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell no-rows" [attr.colspan]="displayedColumns.length">
          No rows to display
        </td>
      </tr>
      <tr
        [hidden]="!dataSource.length"
        mat-footer-row
        *matFooterRowDef="displayedColumns; sticky: true"
      ></tr>
    </table>
  </div>

  <div class="footer">
    <button
      *ngIf="!updateOrderDetails"
      mat-raised-button
      class="mr-16"
      (click)="resetData()"
    >
      <mat-icon>refresh</mat-icon>Reset
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="submitOrder()"
      *ngIf="!updateOrderDetails"
    >
      <mat-icon>save_alt</mat-icon>Submit
    </button>
    <div *ngIf="updateOrderDetails" class="update-btn w-100">
      <button mat-raised-button (click)="goToSearch()">
        <mat-icon>arrow_back</mat-icon>Back to search
      </button>
      <button mat-raised-button color="primary" (click)="submitOrder()">
        <mat-icon>save_alt</mat-icon>Update
      </button>
    </div>
  </div>
</section>
