<section class="container">
  <div class="header-container" *ngIf="!isUpdate">
    <h1 class="header letter-spacing-1">Production Entry</h1>
    <button mat-raised-button color="primary" (click)="chooseProgram()">
      Choose Program for Entry
    </button>
  </div>
  <div class="header-container" *ngIf="isUpdate">
    <h1 class="header letter-spacing-1">Update Production Entry</h1>
  </div>
  <div class="prog-details-container">
    <mat-card class="card w-65" [ngClass]="{ 'w-100': isUpdate }">
      <mat-card-header>
        <mat-card-title>Production Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="form-container">
          <div *ngIf="isUpdate">
            <label class="font-weight-bold">Production Id</label>
            <div class="font-size-16 text-gray pt-4">
              {{ updateProductionDetails.productionId }}
            </div>
          </div>
          <div *ngIf="isUpdate">
            <label class="font-weight-bold">Production Date</label>
            <div class="font-size-16 text-gray pt-4">
              {{
                formatDate(updateProductionDetails.productionDate)
                  | date : "dd/MM/yyyy"
              }}
            </div>
          </div>
          <div>
            <label class="font-weight-bold">Program No</label>
            <div class="font-size-16 text-gray pt-4">
              <span *ngIf="programDetails?.programNo">{{
                programDetails?.programNo
              }}</span>
              <span *ngIf="!programDetails?.programNo">_</span>
            </div>
          </div>
          <div>
            <label class="font-weight-bold">Shade</label>
            <div class="font-size-16 text-gray pt-4">
              <span *ngIf="programDetails?.shadeName">{{
                programDetails?.shadeName
              }}</span>
              <span *ngIf="!programDetails?.shadeName">_</span>
            </div>
          </div>
          <div>
            <label class="font-weight-bold">Blend</label>
            <div class="font-size-16 text-gray pt-4">
              <span *ngIf="programDetails?.blendName">{{
                programDetails?.blendName
              }}</span>
              <span *ngIf="!programDetails?.blendName">_</span>
            </div>
          </div>
          <div *ngIf="!isUpdate">
            <label class="font-weight-bold">Mixing Date</label>
            <div class="font-size-16 text-gray pt-4">
              <span *ngIf="programDetails?.mixingDate">{{
                programDetails?.mixingDate
              }}</span>
              <span *ngIf="!programDetails?.mixingDate">_</span>
            </div>
          </div>
          <div *ngIf="!isUpdate">
            <label class="font-weight-bold">Mixed Qty</label>
            <div class="font-size-16 text-gray pt-4">
              <span *ngIf="programDetails?.mixedQuantity">{{
                programDetails?.mixedQuantity
              }}</span>
              <span *ngIf="!programDetails?.mixedQuantity">_</span>
            </div>
          </div>
        </div>
        <mat-form-field
          appearance="fill"
          class="w-40 production-date"
          *ngIf="!isUpdate"
        >
          <mat-label>Production Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            [formControl]="productionDate"
            (dateChange)="appSharedService.formatDate($event, productionDate)"
          />
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>Please enter valid date.</mat-error>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
    <div class="w-35" *ngIf="!isUpdate">
      <table mat-table [dataSource]="yarnDetails" class="mat-elevation-z8">
        <ng-container matColumnDef="yarnCount">
          <th mat-header-cell *matHeaderCellDef>Yarn Counts</th>
          <td mat-cell *matCellDef="let element">
            {{ element.counts }}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="kgs">
          <th mat-header-cell *matHeaderCellDef>Program Qty</th>
          <td mat-cell *matCellDef="let element">
            {{ element.programQuantity }}
          </td>
        </ng-container>

        <ng-container matColumnDef="prodQty">
          <th mat-header-cell *matHeaderCellDef>Production Qty</th>
          <td mat-cell *matCellDef="let element">
            {{ element.productionQuantity }}
          </td>
        </ng-container>

        <ng-container matColumnDef="button">
          <th mat-header-cell *matHeaderCellDef class="text-center">Actions</th>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="yarnDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: yarnDisplayedColumns"></tr>
        <tr *matNoDataRow>
          <td class="no-rows" [attr.colspan]="yarnDisplayedColumns.length">
            No rows to display
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="footer-container">
    <div class="w-65">
      <div class="button-container" *ngIf="yarnDetails.length">
        <button mat-raised-button (click)="addEntry()" class="button">
          <mat-icon>add_circle_outline</mat-icon>Add Entry
        </button>
      </div>
      <table
        #entry
        mat-table
        [dataSource]="entryDetails"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="counts">
          <th mat-header-cell *matHeaderCellDef>Counts</th>
          <td mat-cell *matCellDef="let element">{{ element.counts }}</td>
        </ng-container>

        <ng-container matColumnDef="lot">
          <th mat-header-cell *matHeaderCellDef>Lot</th>
          <td mat-cell *matCellDef="let element">
            {{ element.lot }}
          </td>
        </ng-container>

        <ng-container matColumnDef="progQty">
          <th mat-header-cell *matHeaderCellDef>Program Qty</th>
          <td mat-cell *matCellDef="let element">
            {{ element.programQty }}
          </td>
        </ng-container>

        <ng-container matColumnDef="prodQty">
          <th mat-header-cell *matHeaderCellDef>Production Qty</th>
          <td mat-cell *matCellDef="let element">
            {{ element.productionQty }}
          </td>
        </ng-container>

        <ng-container matColumnDef="winding">
          <th mat-header-cell *matHeaderCellDef>Winding</th>
          <td mat-cell *matCellDef="let element">
            {{ element.winding }}
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="text-center">Actions</th>
          <td mat-cell *matCellDef="let element" class="text-center">
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Actions menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button
                mat-menu-item
                aria-label="button with a edit icon"
                (click)="updateEntry(element)"
              >
                <mat-icon>edit</mat-icon> Edit
              </button>
              <button
                mat-menu-item
                (click)="removeEntry(element)"
                aria-label="button with a delete icon"
              >
                <mat-icon>delete</mat-icon> Delete
              </button>
            </mat-menu>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="entryDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: entryDisplayedColumns"></tr>
        <tr *matNoDataRow>
          <td class="no-rows" [attr.colspan]="entryDisplayedColumns.length">
            No rows to display
          </td>
        </tr>
      </table>
    </div>
    <div class="footer w-35">
      <button
        mat-raised-button
        class="mr-16"
        (click)="resetData()"
        *ngIf="!isUpdate"
      >
        <mat-icon>refresh</mat-icon>Reset
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="submit()"
        *ngIf="!isUpdate"
      >
        <mat-icon>save_alt</mat-icon>Submit
      </button>
      <button
        mat-raised-button
        (click)="goToSearch()"
        *ngIf="isUpdate"
        class="mr-16"
      >
        <mat-icon>arrow_back</mat-icon>Back to search
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="update()"
        *ngIf="isUpdate"
      >
        <mat-icon>save_alt</mat-icon>Update
      </button>
    </div>
  </div>
</section>
