.header {
  display: flex;
  justify-content: space-between;
}

.container {
  padding: 0 32px 16px;
}

.details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 32px;
}

.table {
  border: 1px solid #e0e0e0;
  margin-top: 12px;
  margin-bottom: 4px;
}

.no-rows {
  padding: 16px 0;
  text-align: center;
}

.mat-mdc-header-row {
  background: rgb(225, 225, 225);
}

.mat-mdc-footer-cell {
  border-top: 1px solid #e0e0e0;
}

.mixing {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-icon {
  font-size: 20px;
}

.outer-table {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.inner-table {
  border: 1px solid rgba(0, 0, 0, 0.15);
}

tr.detail-row {
  height: 0;
}

tr.row:not(.expanded-row) {
  &:hover {
    background-color: whitesmoke;
  }
}

.row {
  cursor: pointer;
}

.row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
  margin-bottom: 24px;
  padding-top: 8px;

  & .mat-mdc-footer-cell,
  & .mat-mdc-cell {
    border-top: 1px solid #e0e0e0;
  }
}
