.header {
  display: flex;
  justify-content: space-between;
}

.container {
  padding: 0 32px 16px;
}

.details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 32px;
}

.table {
  border: 1px solid #e0e0e0;
  margin-top: 16px;
  margin-bottom: 4px;
}

.mat-mdc-header-row {
  background: rgb(225, 225, 225);
}

.mat-mdc-table-sticky {
  border-top: 1px solid #e0e0e0;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 16px;
}
