.container {
    margin: 32px;
}

.party-card {
    margin-bottom: 32px;
}

.form-container {
    padding: 24px 32px 8px 32px;
    display: flex;
    gap: 48px;
    align-items: center;
}

.form-btn { 
    display: flex;
    gap: 16px;
}

.header {
    font-weight: 500;
    margin: 40px 0;
}

tr.detail-row {
  height: 0;
}

tr.row:not(.expanded-row):hover {
  box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.2);
}

tr.row:not(.expanded-row):active {
  background: #efefef;
}

.row {
  cursor: pointer;
}

.row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
  margin-bottom: 24px;
  padding-top: 8px;
}

.no-rows {
  padding: 16px 0;
  text-align: center;
}

.inner-table {
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.border-bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.mat-mdc-table-sticky {
  border-top: 1px solid #e0e0e0;
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
  padding: 0 32px 0 32px;
}

mat-paginator, .mat-mdc-header-row {
  background: whitesmoke;
}
