.form-container {
  padding: 0 24px;
}

.footer {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}

.table {
  border: 1px solid #e0e0e0;
  margin-bottom: 24px;
}

.mat-mdc-header-row {
  background: rgb(225, 225, 225);
}

.no-rows {
  padding: 16px 0;
  text-align: center;
}
