.app-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

mat-sidenav[ng-reflect-opened="true"] {
  width: 18%;
}

.sidenav-container {
  height: 100%;
  margin: 0;
}
