<section class="app-container" id="app-container">
  <app-tool-bar [sidenav]="sidenav"></app-tool-bar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #sidenav
      mode="side"
      class="app-sidenav mat-elevation-z4"
      [opened]="navigationService.isSidenavOpened"
    >
      <app-side-menu></app-side-menu>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
<app-print-fibre-po></app-print-fibre-po>
<app-print-fibre-stock></app-print-fibre-stock>
<app-print-delivery-invoice></app-print-delivery-invoice>
<app-print-delivery-receipt></app-print-delivery-receipt>
<app-print-recovery-details></app-print-recovery-details>
<app-print-salary-summary></app-print-salary-summary>
