.container {
  margin: 32px;
}

.form-container {
  padding-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 16px;
  align-items: center;
}

.form-btn {
  display: flex;
  gap: 16px;
}

.header {
  font-weight: 500;
  margin: 40px 0;
}

tr.detail-row {
  height: 0;
}

tr.row:not(.expanded-row) {
  &:hover {
    background-color: whitesmoke;
  }
}

.row {
  cursor: pointer;
}

.row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: auto;
  display: flex;
  margin-bottom: 24px;
  padding-top: 8px;
}

.no-rows {
  padding: 16px 0;
  text-align: center;
}

.inner-table {
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.mat-mdc-table-sticky {
  border-top: 1px solid #e0e0e0;
}

.mdc-data-table__cell,
.mdc-data-table__header-cell {
  padding: 0 16px;
}

.mat-mdc-header-row {
  background: rgb(225, 225, 225);
}

.table-container {
  position: relative;
  background-color: #fff;
}

.outer-table {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.loader {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-chip {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88px;
  height: 30px;
  border-radius: 20px;
  color: #fff;
}

.cancelled {
  background: rgb(212, 74, 50);
}

.pending {
  background: rgb(227, 172, 61);
}

.received {
  background: rgb(50, 166, 39);
}

mat-icon {
  font-size: 20px;
}
