.container {
  margin: 32px;
}

.padding {
  padding: 16px 32px 8px 32px;
}

.form-container {
  display: flex;
  column-gap: 48px;
  row-gap: 16px;
  flex-wrap: wrap;
  align-items: center;
}

.header {
  font-weight: 500;
  margin: 40px 0;
}

.form {
  margin: 16px;
}

.flex-container {
  display: flex;
  gap: 24px;

  &:not(:last-child) {
    justify-content: center;
    margin-bottom: 16px;
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}
