<section class="container">
  <h1 class="header letter-spacing-1">
    <span *ngIf="editStockDetails">Edit</span>
    <span *ngIf="!editStockDetails">Open</span> Fibre Stock
  </h1>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Stock Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" class="form">
        <div class="flex-container">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Fibre</mat-label>
            <mat-select formControlName="fiberTypeId">
              <ng-container *ngFor="let fibre of fibreService.fibres">
                <mat-option [value]="fibre.fibreTypeId">{{
                  fibre.fibreType
                }}</mat-option>
              </ng-container>
            </mat-select>
            <mat-error>This field is required.</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Shade Name</mat-label>
            <mat-select formControlName="fiberShadeId">
              <ng-container *ngFor="let shade of fibreShadeList">
                <mat-option [value]="shade.shadeId">{{
                  shade.shadeName
                }}</mat-option>
              </ng-container>
            </mat-select>
            <mat-error>This field is required.</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Stock Weight</mat-label>
            <input
              type="number"
              matInput
              formControlName="stockWeight"
              decimal="3"
            />
            <mat-error *ngIf="form.get('stockWeight')?.hasError('required')"
              >This field is required.</mat-error
            >
            <mat-error *ngIf="form.get('stockWeight')?.hasError('zero')"
              >Stock weight cannot be zero or less than zero</mat-error
            >
          </mat-form-field>
        </div>

        <div class="flex-container">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Stock Bales</mat-label>
            <input
              type="number"
              matInput
              formControlName="stockBales"
              (input)="appSharedService.restrictDecimalZero($event)"
            />
            <mat-error>This field is required.</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Lot</mat-label>
            <input type="text" matInput formControlName="lot" />
            <mat-error>This field is required.</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-100">
            <mat-label>HSN Code</mat-label>
            <input type="number" matInput formControlName="hsnCode" />
            <mat-error>This field is required.</mat-error>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <div class="footer">
    <button
      *ngIf="!editStockDetails"
      mat-raised-button
      class="mr-16"
      (click)="resetData()"
    >
      <mat-icon>refresh</mat-icon>Reset
    </button>
    <button
      *ngIf="!editStockDetails"
      mat-raised-button
      color="primary"
      (click)="submitOrder()"
    >
      <mat-icon>save_alt</mat-icon>Submit
    </button>
    <button
      *ngIf="editStockDetails"
      mat-raised-button
      color="primary"
      (click)="submitOrder()"
    >
      <mat-icon>save_alt</mat-icon>Update
    </button>
  </div>
</section>
