<mat-nav-list>
  <h3 mat-subheader class="pt-24 pl-12">General</h3>
  <mat-list-item class="mb-24" routerLink="/home" (click)="onHome()">
    <div class="home-btn pl-12">
      <mat-icon
        aria-hidden="false"
        aria-label="home icon"
        fontIcon="home"
      ></mat-icon>
      <span class="font-weight-bold">Home</span>
    </div>
  </mat-list-item>
  <h3 *ngIf="navigationService.menu?.length" mat-subheader class="pl-12">
    Navigation
  </h3>
  <ng-container *ngFor="let item of navigationService.menu">
    <mat-list-item *ngIf="!item?.submenu" [routerLink]="item.route">
      <div class="navigation-btn pl-20">
        <span class="font-weight-bold"> {{ item?.title }} </span>
      </div>
    </mat-list-item>
    <mat-expansion-panel
      *ngIf="item?.submenu"
      expanded="true"
      class="mat-elevation-z0"
    >
      <mat-expansion-panel-header>
        <span class="font-size-16 pl-12"> {{ item?.title }} </span>
      </mat-expansion-panel-header>
      <mat-nav-list class="pl-12">
        <ng-container *ngFor="let submenu of item?.submenu">
          <a mat-list-item [routerLink]="submenu.route">
            <span class="font-size-14">{{ submenu.title }}</span>
          </a>
        </ng-container>
      </mat-nav-list>
    </mat-expansion-panel>
  </ng-container>
</mat-nav-list>
