<section class="container">
  <div class="header-container">
    <h1 class="header letter-spacing-1">Mixing</h1>
    <button mat-raised-button color="primary" (click)="chooseProgram()">
      Choose Program for Mixing
    </button>
  </div>
  <div class="prog-details-container">
    <mat-card class="card w-60">
      <mat-card-header>
        <mat-card-title>Program Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="form-container">
          <div>
            <label class="font-weight-bold">Program No</label>
            <div class="font-size-16 text-gray pt-4">
              <span *ngIf="programDetails?.programNo">{{
                programDetails?.programNo
              }}</span>
              <span *ngIf="!programDetails?.programNo">_</span>
            </div>
          </div>
          <div>
            <label class="font-weight-bold">Shade</label>
            <div class="font-size-16 text-gray pt-4">
              <span *ngIf="programDetails?.shadeName">{{
                programDetails?.shadeName
              }}</span>
              <span *ngIf="!programDetails?.shadeName">_</span>
            </div>
          </div>
          <div>
            <label class="font-weight-bold">Blend</label>
            <div class="font-size-16 text-gray pt-4">
              <span *ngIf="programDetails?.blendName">{{
                programDetails?.blendName
              }}</span>
              <span *ngIf="!programDetails?.blendName">_</span>
            </div>
          </div>
        </div>
        <mat-form-field appearance="fill" class="w-40 mixing-date">
          <mat-label>Mixing Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            [formControl]="mixingDate"
            (dateChange)="appSharedService.formatDate($event, mixingDate)"
          />
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
    <div class="w-40">
      <table mat-table [dataSource]="yarnDetails" class="mat-elevation-z8">
        <ng-container matColumnDef="yarnCount">
          <th mat-header-cell *matHeaderCellDef>Yarn Counts</th>
          <td mat-cell *matCellDef="let element">
            {{ element.counts }}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="kgs">
          <th mat-header-cell *matHeaderCellDef>KGs</th>
          <td mat-cell *matCellDef="let element">
            {{ element.programQuantity }}
          </td>
        </ng-container>

        <ng-container matColumnDef="button">
          <th mat-header-cell *matHeaderCellDef class="text-center">Actions</th>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="yarnDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: yarnDisplayedColumns"></tr>
        <tr *matNoDataRow>
          <td class="no-rows" [attr.colspan]="yarnDisplayedColumns.length">
            No rows to display
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div>
    <div class="fibre-stock-btn mb-16" *ngIf="programDetails">
      <button mat-raised-button color="primary" (click)="fibreStock()">
        <mat-icon>playlist_add</mat-icon> Select Fibre Stock
      </button>
      <mat-card>
        <div
          *ngIf="mixingDetails.length && mixedBlend"
          class="font-weight-bold px-16 py-10"
        >
          <span class="text-gray font-size-14 mr-8">Mixed Blend</span>-<span
            class="font-size-18 ml-8"
            >{{ mixedBlend }}</span
          >
        </div>
      </mat-card>
    </div>
    <div class="overflow-auto mat-elevation-z8">
      <table mat-table [dataSource]="mixingDetails">
        <ng-container matColumnDef="receivedDCNo">
          <th mat-header-cell *matHeaderCellDef>Received DC No</th>
          <td mat-cell *matCellDef="let element">{{ element.receivedDCNo }}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="fibreCategory">
          <th mat-header-cell *matHeaderCellDef>Fibre Category</th>
          <td mat-cell *matCellDef="let element">
            {{ element.fibreCategoryName }}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="fibre">
          <th mat-header-cell *matHeaderCellDef>Fibre</th>
          <td mat-cell *matCellDef="let element">{{ element.fibreType }}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="fibreShade">
          <th mat-header-cell *matHeaderCellDef>Fibre Shade</th>
          <td mat-cell *matCellDef="let element">{{ element.shadeName }}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="lot">
          <th mat-header-cell *matHeaderCellDef>Lot</th>
          <td mat-cell *matCellDef="let element">{{ element.lot }}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="stockQty">
          <th mat-header-cell *matHeaderCellDef class="text-right">
            Stock Qty
          </th>
          <td mat-cell *matCellDef="let element" class="text-right">
            {{ element.stock }}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="bales">
          <th mat-header-cell *matHeaderCellDef class="text-right">
            Issued No of Bales
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="w-15 text-right input-container"
          >
            <input
              [ngClass]="{
                'bales-border-error': checkZeroInBales(element)
              }"
              #bales
              type="number"
              class="cell-input w-70"
              (input)="
                appSharedService.restrictDecimalZero($event);
                element.bales = bales.value
              "
            />
            <p *ngIf="checkZeroInBales(element)" class="error-alert">
              Bales should not be zero
            </p>
          </td>
          <td mat-footer-cell *matFooterCellDef class="text-right">
            {{ getTotalBales() || 0 }}
          </td>
        </ng-container>

        <ng-container matColumnDef="issueQty">
          <th mat-header-cell *matHeaderCellDef class="text-right">
            Issue Qty
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="w-15 text-right input-container"
          >
            <input
              [ngClass]="{
                'issue-qty-border-error':
                  checkIssueQty(element) || checkZeroInIssueQty(element)
              }"
              #issuedQty
              type="number"
              class="cell-input w-70"
              (keyup)="getMixedBlend()"
              (input)="element.issueQuantity = issuedQty.value"
              decimal="3"
            />
            <p *ngIf="checkIssueQty(element)" class="error-alert">
              Greater than Stock Qty
            </p>
            <p *ngIf="checkZeroInIssueQty(element)" class="error-alert">
              Issue qty should not be zero
            </p>
          </td>
          <td mat-footer-cell *matFooterCellDef class="text-right">
            {{ getTotalIssueQty() || 0 | number : "1.0-3" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="percentUsed">
          <th mat-header-cell *matHeaderCellDef class="text-right">% Used</th>
          <td mat-cell *matCellDef="let element" class="text-right">
            {{ getPercentUsed(element) | number : "1.2-2" }}%
          </td>
          <td mat-footer-cell *matFooterCellDef class="text-right">
            {{ getTotalPercentage() || 0 | number : "1.2-2" }}%
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="text-right">Action</th>
          <td mat-cell *matCellDef="let element" class="text-right">
            <button
              mat-icon-button
              color="warn"
              matTooltip="Remove"
              aria-label="button with a delete icon"
              (click)="removeStock(element)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="mixingDisplayedColumns"></tr>
        <tr
          class="mixing-row"
          mat-row
          *matRowDef="let row; columns: mixingDisplayedColumns"
        ></tr>
        <tr *matNoDataRow>
          <td class="no-rows" [attr.colspan]="mixingDisplayedColumns.length">
            No rows to display
          </td>
        </tr>
        <tr
          [hidden]="!mixingDetails.length"
          mat-footer-row
          *matFooterRowDef="mixingDisplayedColumns; sticky: true"
        ></tr>
      </table>
    </div>
  </div>
  <div class="footer">
    <button mat-raised-button class="mr-16" (click)="resetData()">
      <mat-icon>refresh</mat-icon>Reset
    </button>
    <button mat-raised-button color="primary" (click)="submit()">
      <mat-icon>save_alt</mat-icon>Submit
    </button>
  </div>
</section>
