.container {
  margin: 32px;
}

.header {
  font-weight: 500;
  margin: 40px 0;
}

mat-card {
  margin-bottom: 32px;
}

.table {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.mat-mdc-header-row {
  background: rgb(225, 225, 225);
}

.no-rows {
  padding: 16px 0;
  text-align: center;
}

.footer {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}

.warning {
  color: red;
  font-weight: 600;
}

.mat-column-timeIn,
.mat-column-timeOut {
  min-width: 350px;
}

.mat-column-todaysDepartment {
  max-width: 200px;
}

.loader {
  width: 10%;
  height: 10%;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.worked-hours {
  font-size: 16px;
}

.record-row {
  height: 120px;
}
