<section class="container">
  <h1 class="header letter-spacing-1">Timesheet (Manual)</h1>
  <ng-container>
    <mat-form-field appearance="fill" class="w-50 mb-16">
      <mat-label>Employee</mat-label>
      <mat-select [formControl]="employeeId">
        <mat-option
          *ngFor="let employee of employeelist"
          [value]="employee.employeeId"
        >
          {{ employee.firstName + " " + employee.lastName | titlecase }}
        </mat-option>
      </mat-select>
      <mat-error>This field is required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="ml-24">
      <mat-label>Month Start Date</mat-label>
      <input
        matInput
        [matDatepicker]="startDatePicker"
        [formControl]="monthStartDate"
        (dateChange)="appSharedService.formatDate($event, monthStartDate)"
      />
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="startDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
      <mat-error *ngIf="monthStartDate?.hasError('required')"
        >Please enter valid date.</mat-error
      >
    </mat-form-field>
  </ng-container>

  <mat-card *ngIf="employeeId?.value && monthStartDate?.valid">
    <mat-card-header class="mb-16">
      <mat-card-title> Entry </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="entry mb-24" [formGroup]="form">
        <mat-form-field appearance="fill" class="w-15">
          <mat-label>In Date</mat-label>
          <input
            matInput
            [matDatepicker]="timeInpicker"
            formControlName="timeInDate"
            name="timeInDate"
            [min]="minDate"
            [max]="maxDate"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="timeInpicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #timeInpicker></mat-datepicker>
          <mat-hint>dd/mm/yyyy</mat-hint>
          <mat-error *ngIf="form.get('timeInDate')?.hasError('required')"
            >Please enter valid date.</mat-error
          >
          <mat-error
            *ngIf="
              form.get('timeInDate')?.hasError('matDatepickerMin') ||
              form.get('timeInDate')?.hasError('matDatepickerMax')
            "
            >Allowed only {{ getMinMonth() }} month
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="ml-24 w-15">
          <mat-label>Time In</mat-label>
          <input
            matInput
            type="time"
            formControlName="timeIn"
            name="timeIn"
            required
          />
          <mat-hint>hh:mm AM/PM</mat-hint>
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="ml-40 w-15">
          <mat-label>Out Date</mat-label>
          <input
            matInput
            [matDatepicker]="timeOutpicker"
            formControlName="timeOutDate"
            name="timeOutDate"
            [min]="form.get('timeInDate')?.value"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="timeOutpicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #timeOutpicker></mat-datepicker>
          <mat-hint>dd/mm/yyyy</mat-hint>
          <mat-error *ngIf="form.get('timeOutDate')?.hasError('required')"
            >Please enter valid date.</mat-error
          >
          <mat-error
            *ngIf="form.get('timeOutDate')?.hasError('matDatepickerMin')"
            >Time out date should be greater then Time In.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="ml-24 w-15">
          <mat-label>Time Out</mat-label>
          <input
            matInput
            type="time"
            formControlName="timeOut"
            name="timeOut"
            required
          />
          <mat-hint>hh:mm AM/PM</mat-hint>
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
        <button
          class="ml-40"
          mat-raised-button
          color="primary"
          (click)="addEntry()"
        >
          <mat-icon>add_alt</mat-icon> Add Entry
        </button>
      </div>
      <div>
        <table #entry mat-table [dataSource]="timesheetEntries">
          <ng-container matColumnDef="timeIn">
            <th mat-header-cell *matHeaderCellDef>Time In (24 hr format)</th>
            <td mat-cell *matCellDef="let element">
              {{ element.timeInDate | date : "dd/MM/yyyy" }},
              {{ element.timeIn }}
            </td>
          </ng-container>

          <ng-container matColumnDef="timeOut">
            <th mat-header-cell *matHeaderCellDef>Time Out (24 hr format)</th>
            <td mat-cell *matCellDef="let element">
              {{ element.timeOutDate | date : "dd/MM/yyyy" }},
              {{ element.timeOut }}
            </td>
          </ng-container>

          <ng-container matColumnDef="hours">
            <th mat-header-cell *matHeaderCellDef>Worked Hours</th>
            <td
              mat-cell
              *matCellDef="let element"
              [ngClass]="{ warning: element.hours?.includes('-') }"
            >
              {{ element.hours }}
            </td>
          </ng-container>

          <ng-container matColumnDef="todaysDepartment">
            <th mat-header-cell *matHeaderCellDef>Department</th>
            <td mat-cell *matCellDef="let element">
              <mat-form-field appearance="fill">
                <mat-label>Choose</mat-label>
                <mat-select [(ngModel)]="element.todaysDepartment">
                  <mat-option
                    *ngFor="let department of departmentList"
                    [value]="department.departmentName"
                  >
                    {{ department.departmentName | titlecase }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                color="warn"
                matTooltip="Remove"
                aria-label="button with a delete icon"
                (click)="removeEntry(element)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td
              class="mat-cell no-rows"
              [attr.colspan]="displayedColumns.length"
            >
              No entry to display
            </td>
          </tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="footer" *ngIf="employeeId?.value && monthStartDate?.valid">
    <button mat-raised-button (click)="resetData()" class="mr-16">
      <mat-icon>refresh</mat-icon>Reset
    </button>
    <button mat-raised-button color="primary" (click)="save()">
      <mat-icon>save_alt</mat-icon>Submit
    </button>
  </div>
</section>
