<section class="container">
  <h1 class="header letter-spacing-1">Yarn Recovery</h1>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input />
  </mat-form-field>

  <div class="mat-elevation-z8 overflow-auto table-container">
    <div *ngIf="loader" class="loader">
      <mat-spinner></mat-spinner>
    </div>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="programNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Program No</th>
        <td mat-cell *matCellDef="let row">{{ row.programNo }}</td>
      </ng-container>

      <ng-container matColumnDef="programDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Program Date</th>
        <td mat-cell *matCellDef="let row">{{ row.programDate }}</td>
      </ng-container>

      <ng-container matColumnDef="shadeName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Shade</th>
        <td mat-cell *matCellDef="let row">{{ row.shadeName }}</td>
      </ng-container>

      <ng-container matColumnDef="blendName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Blend</th>
        <td mat-cell *matCellDef="let row">{{ row.blendName }}</td>
      </ng-container>

      <ng-container matColumnDef="plannedQty">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Planned Qty</th>
        <td mat-cell *matCellDef="let row">{{ row.plannedQty }}</td>
      </ng-container>

      <ng-container matColumnDef="mixedQty">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fibre Mixed</th>
        <td mat-cell *matCellDef="let row">{{ row.mixedQuantity }}</td>
      </ng-container>

      <ng-container matColumnDef="lot">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Lot(s)</th>
        <td mat-cell *matCellDef="let row">{{ row.yarnLot }}</td>
      </ng-container>

      <ng-container matColumnDef="productionQty">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Yarn Production
        </th>
        <td mat-cell *matCellDef="let row">{{ row.productionQty }}</td>
      </ng-container>

      <ng-container matColumnDef="wasteQty">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Waste Qty</th>
        <td mat-cell *matCellDef="let row">{{ row.wasteQuantity }}</td>
      </ng-container>

      <ng-container matColumnDef="recoveryPercent">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Yarn Recovery %
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.yarnRecoveryPercent || 0 | number : "1.2-2" }}%
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        class="row"
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="openRecoveryDetails(row)"
      ></tr>

      <tr class="text-center" *matNoDataRow>
        <td class="py-16" [attr.colspan]="displayedColumns.length">
          <span *ngIf="!input.value"> No rows to display</span>
          <span *ngIf="input.value"
            >No data matching the filter "{{ input.value }}"</span
          >
        </td>
      </tr>
    </table>

    <mat-paginator
      *ngIf="dataSource.data.length"
      [pageSizeOptions]="[10, 25, 100]"
      aria-label="Select page of details"
    ></mat-paginator>
  </div>
</section>
