<div class="grid-container">
  <h1 class="header">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="550px">
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title class> Purchases </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content border-top">
          <div>
            <div class="title">Fibre</div>
            <div class="my-16">
              Total orders:
              <span class="font-weight-bold font-size-20">100</span>
            </div>
          </div>
          <canvas
            baseChart
            [type]="'doughnut'"
            [datasets]="fibreChartDatasets"
            [labels]="fibreChartLabels"
            [options]="fibreChartOptions"
            [legend]="true"
            (chartClick)="navigateToFibre($event)"
          >
          </canvas>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title> Production </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content border-top">
          <div></div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title> Sales </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content border-top">
          <div></div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
