.grid-container {
  margin: 16px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.header {
  font-weight: 500;
  margin: 40px 0 24px 16px;
}

.dashboard-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 40px;
}

.title {
  font-size: 20px;
  margin-top: 32px;
}

.border-top {
  margin-top: 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.fibre-section {
  width: 100%;

  .total,
  .pending {
    display: flex;
    justify-content: space-between;
  }
}
