<div class="flex" *ngIf="printService.salarySummaryPrint">
  <div *ngFor="let salary of printService.salarySummary">
    <div>Name: {{ salary.employeeName }} ({{ salary.employeeId }})</div>
    <div>Month: {{ salary.salaryMonthDate }}</div>
    <div *ngIf="salary.deductionAmount">
      <div>Amount: {{ salary.salaryAmount | currency : "INR" }}</div>
      <div>Deduction: {{ salary.deductionAmount | currency : "INR" }}</div>
      <div>
        Payable:
        {{ salary.salaryAmount - salary.deductionAmount | currency : "INR" }}
      </div>
    </div>
    <div *ngIf="!salary.deductionAmount">
      Payable: {{ salary.salaryAmount | currency : "INR" }}
    </div>
  </div>
</div>
