<section class="print" *ngIf="printFibreService.print">
  <section id="header">
    <span>SREE GOMATHI AMMAN SPINNING MILLS PVT LTD</span>
    <span>GOBICETTIPALAYAM</span>
    <span>GST No : 33AAKCS5785R1ZC</span>
  </section>
  <section id="po-details">
    <div id="po">
      <span
        ><span class="font-weight-bold">PO NO</span>&nbsp;&nbsp;&nbsp;{{
          printFibreService.fibrePOData?.pono
        }}</span
      >
      <span
        ><span class="font-weight-bold">PO DATE</span>&nbsp;&nbsp;&nbsp;{{
          printFibreService.fibrePOData?.podate | date : "dd/MM/yyyy"
        }}</span
      >
    </div>
    <div id="party-details">
      <div>{{ printFibreService.fibrePOData?.partyName }}</div>
      <div>{{ printFibreService.fibrePOData?.address1 }}</div>
      <div *ngIf="printFibreService.fibrePOData?.address2">
        {{ printFibreService.fibrePOData?.address2 }}
      </div>
      <div *ngIf="printFibreService.fibrePOData?.address3">
        {{ printFibreService.fibrePOData?.address3 }}
      </div>
      <div>{{ printFibreService.fibrePOData?.cityName }}</div>
      <div>{{ printFibreService.fibrePOData?.stateName }}</div>
      <div>GST No : {{ printFibreService.fibrePOData?.gstNo }}</div>
    </div>
    <table>
      <thead>
        <th>Fibre</th>
        <th>Shade Name</th>
        <th class="text-right">KGs</th>
        <th class="text-right">Rate</th>
        <th class="text-right">Amount</th>
        <th class="text-right">GST%</th>
        <th class="text-right">TotalAmount</th>
      </thead>
      <tbody>
        <ng-container
          *ngFor="let order of printFibreService.fibrePOData?.fibrePODts"
        >
          <tr>
            <td>{{ order?.fibreType }}</td>
            <td>{{ order?.shade }}</td>
            <td class="text-right">{{ order?.weight | number }}</td>
            <td class="text-right">{{ order?.rate | currency : "INR" }}</td>
            <td class="text-right">
              {{ order?.rate * order?.weight | currency : "INR" }}
            </td>
            <td class="text-right">
              {{ order?.gstpercent | number : "1.2-2" }}%
            </td>
            <td class="text-right">
              {{
                order?.rate * order?.weight +
                  (order?.rate * order?.weight * order?.gstpercent) / 100
                  | currency : "INR"
              }}
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <section class="summary">
      <div>
        <div>
          <label>Untaxed Amount:</label>
          <div>{{ getAmount() | currency : "INR" }}</div>
        </div>
        <div>
          <label>Tax:</label>
          <div>{{ getTaxAmount() | currency : "INR" }}</div>
        </div>
        <div>
          <label><strong>Total</strong>:</label>
          <div>{{ getTotalAmount() | currency : "INR" }}</div>
        </div>
        <div>
          <label><strong>Rounded Total</strong>:</label>
          <div>{{ getRoundTotal() | currency : "INR" }}</div>
        </div>
        <div>
          <label>Round off Amount:</label>
          <div>{{ getRoundOffAmount() }}</div>
        </div>
      </div>
    </section>
  </section>
  <section id="footer">
    <div>Please mention our GST NO and PO Ref NO in your Invoice.</div>
    <div>Thanking You,</div>
  </section>
</section>
