.toolbar-item-spacer {
    flex: 1 1 auto;
}

.nav-btn {
    margin-left: 64px;
    button:not(:last-child) {
        margin-right: 24px;;
    }
}

.app-container {
    height: 91%;
    margin: 0;

    .app-sidenav {
        padding-left: 12px;
    }
}

.item-selected {
   background: rgba(0, 0, 0, 0.2);
}

.home-btn, .dashboard-btn {
    display: flex;
    gap: 8px;
    align-items: center;
    padding-right: 32px;
}

mat-list-item:has(.home-btn) {
    margin: 0;
}
