.container {
  margin: 32px;
}

.header {
  font-weight: 500;
  margin: 40px 0;
}

.align-start {
  align-self: flex-start;
}

.card {
  padding: 24px 40px;
  border: 1px solid rgb(0, 0, 0, 0.05);
  border-radius: 5px;
  margin-bottom: 8px;
  background-color: rgba(232, 232, 232, 0.2);
}

.party-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

mat-expansion-panel-header {
  padding: 4px 24px;
}

.no-party {
  padding: 16px;
  display: flex;
  justify-content: center;
}
