.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.mat-mdc-header-row {
  background: rgb(225, 225, 225);
}

.no-rows {
  padding: 16px 0;
  text-align: center;
}

.row {
  cursor: pointer;
}

.border-bottom,
.border-top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.loader {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
  margin: 24px 0;
}

.group-by {
  background-color: rgba(245, 245, 245, 0.813);
}
