/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #fafafa; }

// Spacing

// letter spacing

.letter-spacing-2 {
    letter-spacing: 2px;
}


//padding

.py-32 {
    padding: 0 32px;
}

.pt-16 {
    padding-top: 16px;
}

.pr-4 {
    padding-right: 4px;
}

// margin

.ml-16 {
    margin-left: 8px;
}

.ml-16 {
    margin-left: 16px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mr-8 {
    margin-right: 8px;
}

.mr-16 {
    margin-right: 16px;
}

// font weight

.font-weight-bold {
    font-weight: 500;
}

.font-weight-normal {
    font-weight: normal;
}

// Font size

.font-size-16 {
    font-size: 16px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-24 {
    font-size: 24px;
}


// print

app-print-fibre-po {
    display: none;
}

@media print {
    app-print-fibre-po {
      display: block;
    }

    app-navigation {
      display: none;
    }
}

