<h1 mat-dialog-title>Choose Program</h1>
<div mat-dialog-content class="form-container">
  <table mat-table [dataSource]="dataSource" class="table">
    <!-- programNo Column -->
    <ng-container matColumnDef="programNo">
      <th mat-header-cell *matHeaderCellDef>Program No</th>
      <td mat-cell *matCellDef="let element">{{ element.programNo }}</td>
    </ng-container>

    <!-- shade Column -->
    <ng-container matColumnDef="shade">
      <th mat-header-cell *matHeaderCellDef>Shade</th>
      <td mat-cell *matCellDef="let element">{{ element.shade }}</td>
    </ng-container>

    <!-- blend Column -->
    <ng-container matColumnDef="blend">
      <th mat-header-cell *matHeaderCellDef>Blend</th>
      <td mat-cell *matCellDef="let element">{{ element.blend }}</td>
    </ng-container>

    <!-- yarnCounts Column -->
    <ng-container matColumnDef="yarnCounts">
      <th mat-header-cell *matHeaderCellDef>Yarn Counts</th>
      <td mat-cell *matCellDef="let element">{{ element.yarnCounts }}</td>
    </ng-container>

    <!-- plannedQty Column -->
    <ng-container matColumnDef="plannedQty">
      <th mat-header-cell *matHeaderCellDef>Planned Qty</th>
      <td mat-cell *matCellDef="let element">{{ element.plannedQty }}</td>
    </ng-container>

    <!-- prodQty Column -->
    <ng-container matColumnDef="prodQty">
      <th mat-header-cell *matHeaderCellDef>Prod Qty</th>
      <td mat-cell *matCellDef="let element">{{ element.prodQty }}</td>
    </ng-container>

    <!-- Radio -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <mat-radio-button
          color="primary"
          (click)="$event.stopPropagation()"
          (change)="selectItem(row)"
          [checked]="selection.isSelected(row)"
          [aria-label]="radioLabel(row)"
        ></mat-radio-button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      class="row"
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="selection.toggle(row)"
    ></tr>
    <tr *matNoDataRow>
      <td class="no-rows" [attr.colspan]="displayedColumns.length">
        No rows to display
      </td>
    </tr>
  </table>
</div>
<div mat-dialog-actions class="footer">
  <button mat-raised-button (click)="submit()" color="primary">Choose</button>
  <button mat-button (click)="close()">Cancel</button>
</div>
