.form {
    margin: 16px;
}

.flex-container {
    display: flex;
    gap: 24px;

    &:not(:last-child) {
        justify-content: center;
        margin-bottom: 16px;
    }
}

.footer {
    display: flex;
    justify-content: center;
}